/** common **/
.button {
  @apply relative inline-flex justify-center items-center whitespace-nowrap outline-none transition-colors transition-opacity no-underline cursor-pointer;
}

button.button {
  flex: 0 0 auto;
}

button.absolute {
  position: absolute;
}

.button--fullWidth {
  @apply flex w-full;
}

.button--normal {
  @apply h-[36px] text-[15px] font-medium rounded-3xl px-3 tracking-[2px];
}

/** disabled & loading **/
.button.is-disabled,
.button.is-loading {
  @apply pointer-events-none;
}

.is-loading {
  @apply hover:opacity-90;
}

button.button.is-disabled:not(.is-loading),
a.button.is-disabled:not(.is-loading) {
  @apply bg-[#D7D7D7] border-transparent text-white-normal;
}

a.button--text.is-disabled,
button.button--text.is-disabled {
  @apply bg-transparent !text-gray-light;
}

/* contained button */
.button--contained {
  @apply border-none;
}

.button--contained.button--gradient-blue:not(.is-disabled),
.button--contained.button--gradient-blue.is-loading {
  @apply text-black-normal bg-linear-blue;
}

.button--contained.button--gradient-blue:hover:not(.is-disabled),
.button--contained.button--gradient-blue:hover:not(.is-loading),
.button--contained.button--gradient-blue:focus-visible:not(.is-disabled),
.button--contained.button--gradient-blue:focus-visible:not(.is-loading) {
  background: linear-gradient(90deg, #a8daff 0%, #b6fff9 100%);
}

.button--contained.button--medigreen:not(.is-disabled),
.button--contained.button--medigreen.is-loading {
  @apply text-white-normal bg-medigreen;
}

.button--contained.button--red:not(.is-disabled),
.button--contained.button--red.is-loading {
  @apply text-white-normal bg-[#DA2D2B];
}
.button--contained.button--red:hover:not(.is-disabled),
.button--contained.button--red:hover:not(.is-loading),
.button--contained.button--red:focus-visible:not(.is-disabled),
.button--contained.button--red:focus-visible:not(.is-loading) {
  background: #b62623;
}

.button--contained.button--linear-lime:not(.is-disabled),
.button--contained.button--linear-lime.is-loading {
  @apply text-medigreen bg-linear-lime;
}
.button--contained.button--linear-lime:hover:not(.is-disabled),
.button--contained.button--linear-lime:hover:not(.is-loading),
.button--contained.button--linear-lime:focus-visible:not(.is-disabled),
.button--contained.button--linear-lime:focus-visible:not(.is-loading) {
  background: #163b56;
  color: white;
}

/* text button */
.button--text {
  @apply border-none;
}

.button--text.button--gray {
  @apply bg-transparent bg-opacity-100 text-gray-normal;
}

.button--text.button--gray:hover,
.button--text.button--gray:focus-visible {
  @apply bg-gray-normal bg-opacity-12.5;
}

.button--text.button--medigreen {
  @apply bg-medigreen bg-opacity-100 text-white-normal;
}
.button--text.button--medigreen:hover,
.button--text.button--medigreen:focus-visible {
  @apply bg-medigreen-normal bg-opacity-12.5;
}

.button--text.button--gradient-blue {
  @apply bg-transparent text-linear-blue opacity-100;
}

.button--text.button--gradient-blue:hover,
.button--text.button--gradient-blue:focus-visible {
  @apply opacity-75;
}

.button--text.button--gradient-blue > .button__loading {
  @apply text-blue-normal;
}

/* outlined button */
.button--outlined {
  @apply bg-transparent;
}

.button__content {
  @apply inline-flex items-center h-full;
}

/** loading **/
.is-loading > .button__content,
.is-loading > .button__icon {
  @apply opacity-0;
}

.button__loading {
  @apply !absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-1.15em;
}

/** start end icon **/
.button__icon + .button__content {
  @apply ml-[.25em];
}

.button__content + .button__icon {
  @apply ml-[.25em];
}

.button__icon {
  @apply w-fit h-fit;
}

.button__icon > svg {
  @apply w-4 h-4 pr-2;
}

/** click effect **/
.button::after {
  @apply absolute inset-0 rounded-[inherit] opacity-0;
  box-shadow: 0 0 0 6px currentColor;
  transition: 0.4s;
  content: "";
}

.button.button:active:not(.button--text):not(.button--link)::after {
  @apply opacity-60;
  box-shadow: none;
  transition: 0s;
}

.button--contained.button--orange::after {
  box-shadow: 0 0 0 6px #d0d0e5;
}
