:root {
  font-family: EuclidSquare, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --w3m-z-index: 100001 !important;
  background: linear-gradient(116.59deg, #f5fdff -0.69%, #ecfbfe 6.24%, #fafce3 100%, #fbffcf 100%);
}

body {
  @apply m-0 overflow-hidden;
}

.scrollbar__thumb {
  @apply bg-black-normal;
}
button {
  font-family: "EuclidSquare";
}

@font-face {
  font-family: "EuclidSquare";
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url(@assets/fonts/EuclidSquare-Regular.woff) format("woff supports variations(gvar)"),
    url(@assets/fonts/EuclidSquare-Regular.woff) format("woff-variations"),
    url(@assets/fonts/EuclidSquare-Regular.woff) format("woff");
}
@font-face {
  font-family: "EuclidSquare";
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url(@assets/fonts/EuclidSquare-Medium.woff) format("woff supports variations(gvar)"),
    url(@assets/fonts/EuclidSquare-Medium.woff) format("woff-variations"),
    url(@assets/fonts/EuclidSquare-Medium.woff) format("woff");
}
@font-face {
  font-family: "EuclidSquare";
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url(@assets/fonts/EuclidSquare-Bold.woff) format("woff supports variations(gvar)"),
    url(@assets/fonts/EuclidSquare-Bold.woff) format("woff-variations"),
    url(@assets/fonts/EuclidSquare-Bold.woff) format("woff");
}
